body {
	background: lightcyan;
	width: 800px;
	margin: auto;
}

h1 {
	color: maroon;
	text-align: center;
}

p {
	color: gray;
	border: 1px solid gray;
	padding: 10px;
}

/* YouTubeビデオと画像のレスポンシブ対応 */
iframe {
	display: block;
	margin: 20px auto;
	max-width: 100%;
	height: auto;
}

img {
	display: block;
	margin: 20px auto;
	max-width: 100%;
	height: auto;
}